.video-warp{
    width: 100%;
    display: flex;
    background-color: #333333;
}
.video-play{
    flex: 1;
}
.video-panel{
    width: 480px;
    position: relative;
}
.video-play-warp{
    padding: 20px;
}
.panel-container{
    padding: 30px;
    h1{
        color: #fff;
        font-size: 20px;
        margin-bottom: 30px;
    }
}
.video-panel .v-teachers{
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}
.video-panel .v-teachers-img {
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}
.video-panel .v-teachers-img img {
    width: 100%;
    height: 100%;
}
.video-panel .v-teachers dl {
    float: left;
    margin-left: 12px;
}
.video-panel .v-teachers dd {
    height: 24px;
    color: rgba(255, 255, 255, .4);
}
.video-panel .v-teachers dd.v-t-nickname, .video-panel .v-teachers dd.v-t-nickname a {
    font-size: 16px;
    color: #FFF;
    line-height: 24px;
}
.video-panel .v-teachers dd.v-t-nickname i {
    position: relative;
    color: #f01414;
    margin-left: 4px;
}
.video-panel .v-teachers-info {
    font-size: 12px;
    color: rgba(255,255,255,.6);
    line-height: 22px;
}
.video-panel .v-course-wrap {
    padding-top: 24px;
}
.video-panel .v-course-wrap h3 {
    font-size: 16px;
    color: #FFF;
    line-height: 24px;
}
.video-panel .v-course-wrap .v-course-list {
    padding-top: 16px;
}
.video-panel .v-course-wrap .v-course {
    float: left;
    width: 272px;
    position: relative;
    margin-bottom: 20px;
    padding-left: 112px;
    box-sizing: border-box;
    margin-right: 15px;
    height: 64px;
    min-height: 64px;
}
.video-panel .v-course-wrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 96px;
    height: 64px;
    border-radius: 8px;
}
.video-panel .v-course-wrap .v-course-name {
    font-size: 14px;
    color: rgba(255,255,255,.6);
    line-height: 20px;
    transition: .2s all linear;
    max-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.video-panel .v-course-wrap .v-course-info span {
    float: left;
    position: relative;
    font-size: 12px;
    color: rgba(255,255,255,.4);
    line-height: 18px;
    padding-right: 14px;
    transition: .2s all linear;
}
.video-panel .panel-list{
    color: rgba(255, 255, 255, .6);
}
.video-panel .panel-list dt{
    color: #fff;
    font-weight: bold;
    margin: 20px 0;
}
.video-panel .panel-list dd{
    line-height: 32px;
    cursor: pointer;
}
.video-panel .panel-list dd:hover{
    color: #fff;
}
.video-panel .panel-list dd i{
    float: left;
    width: 20px;
    height: 20px;
    margin: 6px;
}
.video-player-box{
    padding: 10px;
    background-color: #000;
}