.banner-box {
    padding-top: 32px;
}
.g-banner {
    position: relative;
    height: 444px;
    overflow: hidden;
    width: 1152px;
    margin: auto;
    border-radius: 8px;
    background-color: #93999f;
    box-shadow: 0 12px 24px 0 rgba(7,17,27,.2);
}