#main {
    display: block;
    padding: 0;
    min-height: 750px;
}
#main>.bgfff {
    box-shadow: 0 2px 8px 0 rgba(7,17,27,.06);
}

.container-types {
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 36px 0 48px;
}
.recommend .tit-icon{
    background-color: #feb454;
}
.top-line .tit-icon{
    background-color: #9ccd71;
}
.tools .tit-icon{
    background-color: #71b6cd;
}


/* 技术头条 */
.top-line{
    background-color: #f6f9fb;
}
.top-line-list dd{
    float: left;
    width: 566px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 0 20px #ccc;
    margin: 0 0 20px 18px;
    background-color: #fff;
}
.top-line-list dd .warp{
    padding: 25px 30px 25px 20px;
}
.top-line-list dd .warp > div{
    float: left;
}
.top-line-list dd .lead-item-photo img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.top-line-list .lead-item-name{
    margin-top: 5px;
}
.top-line-list .lead-item-tit{
    font-size: 12px;
    color: #ccc;
}
.top-line-list dd .warp .lead-item-praise{
    float: right;
}
.top-line-list .lead-item-praise s{
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 10px;
}
.top-line-list .lead-item-praise span{
    font-size: 12px;
    color: #999;
}

/* 工具推荐 */
.tools .types-content dd{
    float: left;
    width: 216px;
    margin: 0 0 20px 18px;
}
.tools .types-content dd .warp div{
    width: 216px;
    height: 120px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.tools .types-content dd .warp span{
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}
.tools .types-content dd .warp p{
    padding: 16px;
    font-size: 12px;
    color: #999;
}
.tools .types-content dd img{
    max-width: 216px;
    max-height: 120px;
}

/* 框架聚焦 */
.stack{
    background: #f6f9fb;
}
.stack dd{
    float: left;
    width: 216px;
    height: 270px;
    padding: 8px;
    margin: 0 0 18px 18px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ebebeb;
    background-color: #fff;
}
.stack dd img{
    max-width: 200px;
    max-height: 160px;
}
.stack dd p{
    font-size: 12px;
    color: #999999;
    padding: 0 10px;
    margin-top: 10px;
}
.stack dd p b{
    font-size: 14px;
    color: #333333;
}