#main {
    display: block;
    padding: 0;
    min-height: 750px;
}
#main>.bgfff {
    box-shadow: 0 2px 8px 0 rgba(7,17,27,.06);
}


.container-types .star-list .lead-list {
    width: 544px;
    margin: 38px auto 48px;
}
.container-types .star-list .lead-list dd {
    width: 136px;
    text-align: center;
    float: left;
}
.container-types .star-list .lead-list .lead-item-photo {
    width: 56px;
    height: 56px;
    margin: 0 auto;
    position: relative;
}
.container-types .star-list .lead-list .lead-item-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);
}
.container-types .star-list .lead-list .lead-item-photo span {
    position: absolute;
    width: 26px;
    height: 18px;
    top: -16px;
    left: 15px;
    background: url(~static/images/champion.png) no-repeat;
    background-size: 100%;
}
.container-types .star-list .lead-list .lead-item-name {
    font-size: 14px;
    color: #07111B;
    line-height: 16px;
    margin-top: 8px;
}
.container-types .star-list .lead-list .lead-item-tit {
    font-size: 12px;
    color: #93999F;
    font-weight: 400;
}
.container-types .types-title span.icon-star-l {
    background-position: center -504px;
}
.container-types .types-title span.icon-star-r {
    background-position: center -540px;
}
