.menuwrap, .submenu {
    position: absolute;
    top: 0;
    height: 444px;
}
.menuwrap {
    background-color: rgba(7,17,27,.5);
    opacity: .502;
    left: 0;
    width: 216px;
    z-index: 1;
}
.menuContent {
    position: relative;
    float: left;
    width: 216px;
    height: 444px;
    z-index: 2;
    padding-top: 12px;
    background: #2b333b;
    border-bottom-left-radius: 4px;
    font-weight: 400;
}
.menuContent .item {
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    cursor: pointer;
    padding-left: 12px;
    position: relative;
}
.menuContent .item>a {
    display: block;
    color: rgba(255,255,255,.6);
    padding: 0 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 60px;
    transition: all .1s;
}
.menuContent .item .group {
    font-size: 14px;
}